html, body{
margin: 0;
padding: 0;
}

/******************************************messageaffichage******************************************/

  #messageaffichage{
  width:70%;
  height: 80%;
  opacity: 95%;
  position: fixed;
  background-color: #4E5656;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding : 30px;
  z-index: 20;
  display: none;
  }

  #messageaffichagecontenu{
  width: 80%;
  margin: auto;
  height : 100%;
  display: table;
  }

  .fakeCell{
  display: table-row;
  }

  .messageaffichagetitre{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  color: #7D8B8A;
  text-align: center;
  line-height: 1.5em;
  z-index: 40;
  margin-bottom: 15px;
  }

  .messageaffichagecorps{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  color: white;
  text-align: center;
  margin-bottom: 40px;
  }

  #messageaffichagegif{
  display: table-row;
  height: auto;
  width:80%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  }

  @media screen and (orientation: portrait) {
    #messageaffichage {
      display:block;
    }
  }

/******************************************svg******************************************/

  svg{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
  }

  #menuaccueilhover, #menuarticlehover, #menuinterviewhover, #menubibliospehover, #menuGouvernanceEthiquehover, #menuEffetReseauRepresentationhover, #menuRelationFournisseursUsagershover, #menuRelationFormeFonctionhover {
  z-index:99;
  opacity: 0;
  }

#page{
display: flex;
flex-direction: row;
justify-content: space-between;
width:100%; 
height: 100%;
position:fixed;
z-index: 10;
margin:0;
padding: 0;
}

#menugauche{
height: 100%;
width: calc( 0.2924 * 100vh );
z-index: 10;
}

#menudroite{
height: 100%;
width: calc( 0.2924 * 100vh );
z-index: 10;
}

#page2{
width:100%; 
height: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
z-index: 1;
}

.colonnevide{
width: calc( 0.2924 * 100vh );
z-index: -99;
}

#colonne{
width: calc( 100vw - calc( 0.60 * 100vh ));
min-width: 370px;
background-color: #3f6e99;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
z-index: 10;
}


/* ////////////////// fiche récapitulative ////////////////// */


#RelationFormeFonctionrecap{
width:40%;
height: auto;
position: fixed;
background-color: #28C686;
display: none;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding :20px 30px;
z-index: 20;
right : 12.4%;
bottom : 28.7%;
}

#RelationFormeFonctiontitre{
max-width: 85%;
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 1.5em;
color: #94FFCE;
margin-bottom: 10px;
line-height: 1.5em;
}

#RelationFournisseursUsagersrecap{
width:40%;
height: auto;
position: fixed;
background-color: #3F6E99;
display: none;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding :20px 30px;
z-index: 20;
right : 12.4%;
bottom : 19.05%;
}

#RelationFournisseursUsagerstitre{
max-width: 85%;
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 1.5em;
color: #9CCFF2;
margin-bottom: 10px;
line-height: 1.5em;
}

#EffetReseauRepresentationrecap{
width:40%;
height: auto;
position: fixed;
background-color: #E25C33;
display: none;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding :20px 30px;
z-index: 20;
right : 12.4%;
bottom : 9.4%;
}

#EffetReseauRepresentationtitre{
max-width: 85%;
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 1.5em;
color: #F4B576;
margin-bottom: 10px;
line-height: 1.5em;
}

#GouvernanceEthiquerecap{
width:40%;
height: auto;
position: fixed;
background-color: #C93152;
display: none;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding :20px 30px;
z-index: 20;
right : 12.4%;
bottom : 0.5%;
}

#GouvernanceEthiquetitre{
max-width: 85%;
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 1.5em;
color: #EF818A;
margin-bottom: 10px;
line-height: 1.5em;
}

.ficherecapitulativecorps{
width: 100%;
height: auto;
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
font-size: 1em;
color: white;
text-align: left;
line-height: 1.5em;
background-color: transparent;  
}


/* ////////////////// Style the header: fixed position (always stay at the top) ////////////////// */

.header {
  width: 100%;
  position: fixed;
  display: flex;
  top: 0;
  z-index: 99;
  background-color: transparent;
}


/* ////////////////// barre progression ////////////////// */

.progress-container {
  width: 100%;
  height: 8px;
  background: #BACCCA;
  margin-left: auto;
  margin-right: auto;

  z-index:99;
}


.progress-bar {
  height: 8px;
  background: #9ccff2;
  width: 0%;
  z-index:10;
}


/* ////////////////// bloc entete ////////////////// */

#entete{
width:75%;
background-color: transparent;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
margin-top: 70px;
margin-bottom: 100px;
}

#titraille{
width:62%;
background-color: transparent;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
}

#categorie{
height: auto;
font-family: 'Montserrat', cursive;
color: #9ccff2;
font-weight: 300;
font-style: italic;
font-size: 2.1em;
}

#titre{
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 800;
font-size:4em;
color: white;
margin-top: 50px;
}

#soustitre{
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 2.8em;
color: white;
margin-top: 10px;
}

#date{
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size:1.8em;
font-style: italic;
color: #9ccff2;
background-color: transparent;
margin-top: 30px;
}

.blocimg_entete{
display: flex;
background-color: transparent;
width: 24%;
height: auto;
padding-top: 15px;
}

#img_entete{
max-width:100%;
max-height:100%;
margin-top: auto;
margin-bottom: auto;
}



/* ////////////////// bloc intro ////////////////// */

.introcorps{
width:58%;
height: auto;
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
font-size: 1.2em;
color: white;
text-align: justify;
line-height: 1.5em;
margin-top: 50px;
margin-bottom: 100px;
}


/* ////////////////// bloc question ////////////////// */

.blocquestion{
width:75%;
background-color: transparent;
flex-direction: column;
justify-content: flex-end;
margin-bottom: 120px;

}

.question{
width:77.3%;
height: auto;
display: flex;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 1.5em;
display: flex;
color: white;
background-color: transparent;
text-align: left;
}

#guillemet {
font-size: 3em;
font-weight: 400;
line-height: 0.1em;
color: white;
font-family: 'Times New Roman', serif;
transform: translateX(-68px) translateY(22px);
}

.citation{
width:76.5%;
height: auto;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 1.8em;
font-style: italic;
color: #9ccff2;
background-color: transparent;
text-align: left;
line-height: 1.4em;
margin-top: 70px;
margin-bottom: 50px;
float: right;
}


.citation a{
font-size: 2.2em;
line-height: 0em;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-style: normal;
color: white;
}


.indication{
width:77.3%;
height: auto;
display: flex;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
font-size: 1.2em;
display: flex;
color: white;
background-color: transparent;
text-align: left;
margin-bottom: 10px;
}

.indication a{
font-size: 3.2em;
line-height: 0em;
transform: translateY(-5px)
}

.container-audio {
width: 100%;
height: auto;
display: flex;
overflow: hidden;
}

audio {
  width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
    margin: 0;
}



/* ////////////////// paramétrage telephone ////////////////// */

@media screen and (max-width: 850px) {


  /* ////////////////// bloc entete ////////////////// */

  #entete{
  width:80%;
  margin-top: 40px;
  }

  #categorie{
  font-size: 1.4em;
  }

  #titre{
  font-size:2.3em;
  margin-top: 30px;
  }

  #soustitre{
  font-size: 1.6em;
  }

  #date{
  font-size:1.2em;
  }

  .introcorps{
  font-size: 0.9em;
  margin-top: 70px;
  }


/* ////////////////// bloc question ////////////////// */

.blocquestion{
width:85%;
margin-bottom: 60px;
}

.question{
width:80%;
font-size: 1.1em;
}

#guillemet {
font-size: 2.5em;
}

.citation{
width:80%;
font-size: 1.3em;
margin-top: 40px;
margin-bottom: 25px;
}

.citation a{
font-size: 2.2em;
}

.indication{
font-size: 1em;
}

.indication a{
font-size: 2.9em;
}

  /* ////////////////// fiche récapitulative ////////////////// */

  #RelationFormeFonctionrecap{
  width:50%;
  padding :10px 15px;
  z-index: 20;
  right : 10%;
  }

  #RelationFormeFonctiontitre{
  width:100%;
  font-size: 1.1em;
  }

  #RelationFournisseursUsagersrecap{
  width:50%;
  padding :10px 15px;
  z-index: 20;
  right : 10%;
  }

  #RelationFournisseursUsagerstitre{
  width:100%;
  font-size: 1.1em;
  }

  #EffetReseauRepresentationrecap{
  width:50%;
  padding :10px 15px;
  z-index: 20;
  right : 10%;
  }

  #EffetReseauRepresentationtitre{
  width:100%;
  font-size: 1.1em;
  }

  #GouvernanceEthiquerecap{
  width:50%;
  padding :10px 15px;
  z-index: 20;
  right : 10%;
  }

  #GouvernanceEthiquetitre{
  width:100%;
  font-size: 1.1em;
  }

  .ficherecapitulativecorps{
  font-size: 0.8em;
  line-height: 1.2em; 
  }

}